// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box; 
// }


// ASIDE LEFT SECTION STARTS HERE // 
.aside__left{
    background-color: rgb(240, 239, 239);
}


#left-side-element--box {
    margin-left: auto;
    margin-right: 1rem;
    max-width: 220px;
    font-weight: 250;
}



.icon-text-container {
    display: flex;
    align-items: center; /* Vertically center align items within the container */
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    // margin-top: .7em;
    // margin-bottom: .7em;
  }

.aside-left--second-box h4{
    font-size: 18px;
}

.socials-tab{
    column-gap: 10px;
}
  
.icon-span {
    margin-right: 10px; /* Add horizontal spacing between icon and text */
  }
  
.text-span p{
    /* Add any additional styles you need for the text */
    margin-bottom: 0rem;
  }

.icon-text-container img{
    height: 24px;
    width: 24px;
  }

.icon-text-container .text-span a {
    color:black;
    text-decoration: none
  }

.icon-text-container:hover {
    background-color: rgba(0, 0, 255, 0.085);
  }

.icon-text-container .text-span a:hover{
    text-decoration: underline; /* Underline on hover */
    color: blue
  }

#scrollable-sidebar {
    max-height: 250px;
    overflow-y: auto;
}

.btn.no-caret {
    background-color: white;
    border: none;
}

.btn.no-caret::after {
    display: none;
}

.btn.no-caret:hover {
    background-color: rgb(240, 239, 239);
    border: none;
}
.card-wrapper {
    background-color: white;
}
.dropdown-billboard--image {
    max-width: 250px;
}

.dropdown-billboard--image img {
    max-width: 100%;
    height: auto;
}

.sidebar-footer {
    max-width: 250px;
    height: auto;
}


// ASIDE LEFT SECTION ENDS HERE //


// ASIDE RIGHT SECTION STARTS HERE //

.aside__right {
    background-color: rgb(240, 239, 239);

}
.aside__right--card {
    max-width: 310px !important;
    margin-left: 1rem;
    margin-right: auto; 
    margin-top: 20px;
    background-color: white;
    height: auto;
}

.right--card-header {
    border-bottom: .5px solid rgb(240, 239, 239)
}

.right--card-option {
    border-bottom: .5px solid  rgb(240, 239, 239);
    position: relative;
    z-index: 2;
}

.card-header--title a{
    color: black;
    font-size: .72em;
    font-weight: 700;
}

.card-header--title a:hover {
    color: rgb(9, 9, 168)
}

.right--card-option-trend:hover {
    background-color: rgb(255, 255, 255);
}

.right--card-option-trend {
    max-width: 280px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#trendy-card-title {
    text-decoration: none;
    color: black;
    font-size: .95em;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
}


.card-option--title {
    color: black;
}

.card-option--title:hover {
    color: rgb(9, 9, 168); 
} 

.card-header--subtitle {
    font-size: .70em; 
}

.aside__right--card-trendging {
    max-width: 310px !important;     
}


// ASIDE RIGHT SECTION ENDS HERE //

body {
    padding-top: 64px;
}
.page__container {
    height: auto;

}

.header--nav li{
    font-size: 18px;
    cursor: pointer;
    
}

.header--nav > :hover {
    color: rgb(21, 121, 202);
    background-color: white; 
    border-radius: 5px;
}



.container__post {
    background-color: rgb(240, 239, 239)
}

.container__card--post-test {
    margin-bottom: 10px;
    background-color: #ffffff;
}

.post-test--title {
    margin-left: 37px;
}

.hashtags--list {
    margin-left: 31px;
    font-weight: 350;
    font-size: 15px;
    color: rgb(80, 80, 80)
}

.hastags--list li {
    height:30px;
    padding-right: 6px;
    padding-left: 6px;
}

.hashtags--list  span {
    color: rgb(44, 212, 44);
}

.hashtags--list :nth-child(-n+2):hover:not(span) {
    background-color: rgb(209, 255, 190);
    border: 1px solid rgb(180, 248, 150);
    border-radius: 6px;
}

.hashtags--list :nth-child(n+3):hover:not(span) {
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(173, 173, 173);
    border-radius: 6px;
}


.post-test--post-actions {
    margin-left: 29px;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 350;
    font-size: 16px;
    color: rgb(80, 80, 80)
}

.profile-icon--container-image {
    height: 32px; 
    width: 32px; 
}

.user-info--username {
    margin: 0;
}

.user-info--data {
    line-height: 100%;
}

.dropbtn {
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 310px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 7;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    margin-left: 10px;
}

.dropdown-content--user-data {
    position: relative;
    bottom: 20px;
    left: 18px;
}

.user-data--button {
    margin-left: 18px;
    width: 300px;
    margin-right: 18px;
}

.user-data--tagline-container {
    width: 300px;
    margin-left: 18px;
}

.user-data--tagline {
    margin-left: 0px;
    margin-top: 10px;
    color: grey;
}

.user-data--profile-name:hover {
    color: blue;
}

.user-data--details {
    margin-left: 18px;
}

.user-data--details b {
   color: rgb(99, 99, 99); 
   font-size: small;
}

.link-post {
    text-decoration: none;
    color: black;
}

.user-data--profile-icon img {
    background-color: rgb(108, 108, 108);
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.user-data--profile-name-container {
    display: flex;
    align-items: flex-end;
}

.user-data--profile-name {
    font-size: x-large;
    margin-bottom: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content--top-color-design {
    height: 36px;
    width: auto;
    background-color: navy;
}

#icon-number--1 {
    position: relative;
    z-index: 5;
}

#icon-number--2  {
    position: relative;
    z-index: 4;
    right: 7px;

}

#icon-number--3  {
    position: relative;
    z-index: 3;
    right: 14px;

}

#icon-number--4  {
    position: relative;
    z-index: 2;
    right: 21px;

}

#icon-number--5  {
    position: relative;
    z-index: 1;
    right: 28px;

}

.post-actions--icon-row img {
    height: 24px;
    background-color: rgb(232, 232, 232);
    border-radius: 50%;
    border: 1px solid rgb(220, 220, 220);
}

.post-actions--reactions-text {
    position: relative;
    right: 30px;
    transition: transform 0.3s;

}

.post-actions--icon-row:hover {
    background-color: #c6c6c6;
    cursor: pointer;
    border-radius: 3px;
    transform: translateX(-30px);
}

.post-actions--comment-icon {
    height: 24px;
    position: relative; 
    right: 15px;
}

.post-actions--comment-number {
    position: relative;
    right: 0px;
    height: 35px;
    width: 132px;
}

.post-actions--comment-number img {
    margin-left: 8px;
}

.post-actions--comment-number:hover {
    background-color:#c6c6c6;
    cursor: pointer;
    border-radius: 6px;
}

.hover-reaction-test:hover {
    background-color: #e4e4e4;
}

.hover-reaction-test {
    border-radius: 6px;
}

.post-actions--bookmark-container {
    height: 40px;
    width: 40px;
    justify-content: center; 
}

.post-actions--bookmark-icon {
    height: 24px;
}

.post-actions--bookmark-icon:hover {
    background-color:#c6c6c6;
    cursor: pointer;
    color: rgb(103, 103, 248);
    border-radius: 3px;
}

.post-actions--read-duration {
    margin-left: auto;

}

.iconw {
    transition: transform 0.3s;
}

.iconw:hover {
    transform: scale(1.2)
}

//navbar sections starts here 

.about1{
    width:24px;
    height: 24px;
}
.navbar{
    background-color: white !important;
    height: auto;
}

.contenedorsearch{
    width: 400px !important;
    height: 50px !important;
    margin-top: 8px;
    margin-left: 10px;
}

.container-nav{
    max-width: 1200px !important;
}

.hover-effect {
    transition: filter 0.3s ease;
    
    &:hover {
      filter: contrast(150%);
      filter: invert(60%) sepia(100%) saturate(2000%) hue-rotate(200deg); /* Aplica efecto de contraste en azul */
    }
  }
  
@media (min-width :768px) {
    .contenedorsearch{
        display: flex;
    }
}




//navbar sections ends here



// footer section starts here
.footer {
    background-color: rgb(229, 229, 229);
  }
  
  .footer__container {
    background-color: rgb(229, 229, 229);
  }
  
  .footer__description {
    text-align: center;
    background-color: rgb(229, 229, 229);
  }
  
  .footer__credits {
    text-align: center;
    background-color: rgb(229, 229, 229);
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
  }
  
  .site-logo__img {
    width: 50px;
    height: 40px;
  }
  
  .footer {
    background-color: #a0a0a0;
  }
  
//footer section ends here


@media only screen and (max-width:576px) {
    .post-actions--reactions-text {
        display: none;
    }
    .post-actions--comment-number {
        display: none;
    }
}

@media only screen and (max-width:355px) {
    .post-actions--read-duration {
        display: none;
    }

    .post-actions--bookmark-icon {
        margin-left: auto;
    }
}

@media only screen and (max-width:768px) {
    .post-test--title {
        margin-left: 0px;
    }
    .hashtags--list {
        margin-left: 0px;
    }

    .post-test--post-actions {
        margin-left: 0px;
    }
}

@media only screen and (min-width:992px) {
    .post-actions--read-duration {
        display: none;
    }
    .post-actions--bookmark-icon {
        margin-left: auto;
        margin-right: 10px;
    }
}

@media only screen and (min-width:1124px) {
    .post-actions--read-duration {
        display: block;
    }
    .post-actions--bookmark-icon {
        margin-left: 0;
        margin-right: 0;
    }
}


@media only screen and (max-width:992px) {
    .aside__right {
        display: none;
    }
}


// finish main section by gerardo